<div class="container-fluid">
<div class="row">
  <div class="col-sm-12 col-md-12" id="main-logo">
    <%= image_tag "bestowlogo.png", class: "responsive-img center-block logo" %>
  </div>
  <div class="col-md-12"><h1 class="text-center" id="tag">Be a better giver.</h1></div>
</div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" id="description">
      <p>Bestow is an app that organizes gift giving, all in one place. Ever wish budgeting was easy? We all do.<br>Add recipients, price limits, and ideas for the best gift for junior. Maybe for the first time <em>you won't forget grandma.</em></p></div>
  </div>
</div>
<div class="container-fluid" id="signup-btn">
  <div class="row">
    <div class="col-md-12 text-center">
      <%= link_to("Sign up", sign_up_path, class: "btn btn-signup") %>
    </div>
  </div>
</div>
