@charset "utf-8";
@import "normalize-rails";
@import "bootstrap/bootstrap";
body, html {
  height: 100%;
  width: 100%;
  background: #89ccbe;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'open sans', 'helvetica', sans-serif;
  color: white;
  text-transform: uppercase;
}
a, div a {
  font-family: 'open sans', 'helvetica', sans-serif;
}
form {
	text-align: center;
}
input {
	text-align: center;
	border-radius: 0px;
	border: 2px solid #ffffff;
	background: rgba(999, 999, 999, .2);
}
input:hover {
	border: 2px solid #cccccc;
	background: #89ccbe;
	color: white;
}
p {
  font-family: 'Arvo', georgia, serif;
  color: white;
}
.submark {
  height: 50px;
  margin-top: -13px;
}
.navbar-default, .btn, .btn-default, button, div {
  border-radius: 0px;
}
.sign-in-nav {
	color: #550000;
	margin-top: 3px;
	text-transform: uppercase;
}
// CSS for the landing page ...
#main-logo {
  height: 30em;
}
.logo {
  max-width: 900px;
  width: 66%
}
#description {
  font-size: 175%;
  margin: 50px 1em 50px 1em;
  padding: 4em 5em 2em 5em;
}
.sign-up-nav, .sign-up-nav a {
  color: white;
  background: #83090c;
  border: 2px solid #83090c;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
}
.sign-up-nav:hover, .sign-up-nav a:hover {
  color: #83090c;
  background: white;
  border: 2px solid #83090c;
}
#signup-btn {
  height: 200px;
}
.btn-signup, .btn-signup:visited {
  text-decoration: none;
  color: #ffffff;
  background-color: #550000;
  font-size: 3em;
  height: 100px;
  width: 300px;
  border: 2px solid white;
  padding: .375em;
  text-transform: uppercase;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
}
.btn-signup a {
  color: #550000;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
}
.btn-signup:hover {
  border: 2px solid #83090c;
  background-color: #89ccbe;
  color: #83090c;  
}
.btn-signup:hover a{
  text-decoration: none;
  color: #550000;
}
.person {
 margin-left: 3.5em;
 padding: 1em;
}
.other-links {
	margin-top: 10px;
	margin-left: 60px;
}
.other-links a{
  border: 1px solid gray;
  color: gray;
  background: rgba(444, 444, 444, .6);
}
// CSS for index...
#plus {
  padding-bottom: -20px;
  margin-right: 0;
}
.btn-add-person {
  color: white;
  height: 50px;
  width: 150px;
  border: 2px solid #cd2027;
  margin-left: 6em;
  padding: 1em 1em 1em 1em;
  text-transform: uppercase;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
}
#username {
	text-align: center;
	text-transform: capitalize;
	color: #550000;
}
#invite {
	text-align: center;
	color: white;
	font-size: 3em;
}
#total-amount {
	text-align: left;
	margin-left: 5em;
	color: white;
	font-family: "Arvo", serif;
	font-size: 2em;
	padding: 2em;
}
// Styling for the "SIGN UP" & SIGN IN forms
.sign-in, .sign-in label, .sign-in input, .sign-in h2 {
  text-align: center;
  font-size: 125%;
  margin: 3em auto 0 auto;
}
.sign-up, .sign-up label, .sign-up input, .sign-up h2 {
  text-align: center;
  font-size: 125%;
  margin: 1em auto 0 auto;
}
.signout {
  color: white;
  margin-left: 75px;
  background: #83090c;
  border: 2px solid #83090c;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
}
.signout:hover {
  color: #83090c;
  background: white;
  border: 2px solid #83090c;
}
//SHOWs
.show-title {
	text-align: center;
	color: white;
	font-family: 'open sans', 'helvetica', sans-serif;
	text-decoration: underline;
	font-size: 6em;
	text-transform: uppercase;
}
.index-list {
	padding: 2em;
	text-align: center;
	list-style: none;
}
.index-list a, input {
	border: 2px solid white;
	color: white;
	font-family: 'open sans', 'helvetica', sans-serif;
	text-transform: uppercase;
	margin-top: 2em;
	text-decoration: none;
	padding: .5em;
	-webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
}
.index-list a:hover, input:hover {
	border: 2px solid #909090;
	background: white;
	color: #909090;
}
.index-list {
	font-size: 2em;
}
  @media(min-width:992px) {
  .signup {
  margin-top: 5px;
  }
}
@media(max-width:767px) {
  .navbar-collapse li, .navbar-collapse a {
    text-align: center;
  }
  .submark {
    text-align: center;
  }
}